<li class="z-depth-1 portlet  white theme-color-text" id="portlet-myaccount">
	<div class="portlet-header white ">
		My account 
		<i class="fa fa-times close-widget circle  theme-color-text-2" aria-hidden="true"></i>
		<i class="fa fa-pencil circle theme-color-text-2" aria-hidden="true"></i>
	</div>
	<div class="portlet-content">
		<ul>
			<li class="text-center">
			 <img src="{{ user.avatar}}" class="responsive-img circle"></img>
			</li>
			<li>
				<label>Email : </label><span>{{user.email}}</span>
			</li>
			<li>
				<label>Speudo : </label><span>{{user.speudo}}</span>
			</li>
			<li>
				<label>Country : </label><span>{{user.country}}</span>
			</li>
		</ul>
	</div>
</li>