<div id="prototype-chat-private" data-prototype='<li class="z-depth-1 portlet  white theme-color-text opacity-1-important "><div class="portlet-header white ui-widget-header"><span class="portlet-left">	<span class="fa fa-comments" aria-hidden="true"></span> Private chat </span><i class="fa fa-times close-widget   theme-color-text-2" aria-hidden="true"></i><i class="fa fa-minus theme-color-text-2 btn-mini-portlet" aria-hidden="true"></i><span class="portlet-middle-title" > __speudo1__ - __speudo2__ </span></div><div class="portlet-content"></div></li>' ></div>


	
	
		
		
		
	
	
	    
	
