<li class="z-depth-1 portlet  white theme-color-text" id="portlet-request-friend">
	<div class="portlet-header white ">
		<span class="fa fa-bar-chart" aria-hidden="true"></span> Contact request 
		<i class="fa fa-times close-widget   theme-color-text-2" aria-hidden="true"></i>
		<i class="fa fa-refresh theme-color-text-2" aria-hidden="true"></i>
	</div>
	<div class="portlet-content">
		<ul class="collection" data-prototype='<li class="collection-item avatar opacity-1-important li-request-contact" data-id="__id__"><img src="__img__" alt="__alt__" class="circle"> <span class="title">__title__</span><i class="fa fa-times theme-color-text modal-trigger refuse-request-friend" aria-hidden="true"></i><i class="fa fa-check theme-color-text modal-trigger accepte-request-friend" aria-hidden="true"></i>' >

		</ul>
	</div>
</li>