<li class="z-depth-1 portlet  white theme-color-text" id="portlet-request-friend">
	<div class="portlet-header white ">
		<span class="fa fa-bar-chart" aria-hidden="true"></span> Contact request 
		<i class="fa fa-times close-widget   theme-color-text-2" aria-hidden="true"></i>
		<i class="fa fa-refresh theme-color-text-2" aria-hidden="true"></i>
	</div>
	<div class="portlet-content">
		<ul class="collection">

		</ul>
	</div>
</li>