<div id="prototype-chat-private" data-prototype='
<li class="z-depth-1 portlet portlet-chat white theme-color-text opacity-1-important " data-id="__id__">
<div class="portlet-header white ui-widget-header">
<span class="portlet-left">	<span class="fa fa-comments" aria-hidden="true"></span> Private chat 
<span class="portlet-notification invisible badge-content">0</span>
</span>

<i class="fa fa-times close-widget   theme-color-text-2" aria-hidden="true"></i><i class="fa fa-minus theme-color-text-2 btn-mini-portlet" aria-hidden="true"></i>
<span class="portlet-middle-title" > __speudo1__ - __speudo2__ </span></div>
<div class="portlet-content">
<div>
    <div class="row row-chat-content">
        <div class="chat-content " > &nbsp;<div class="message-info"></div></div>
    </div>
    <div class="row">
   <textarea class="col s9 editeur message-content" ></textarea>
   <span class="lien-smileys hide-on-small-only"><i class="fa fa-smile-o  grey-text lighten-3 " aria-hidden="true"></i>
       <div class="hidden white smileys-content">
         <a href="#" class="close"> <i class="fa fa-times grey-text lighten-3" aria-hidden="true"></i> </a>
          <ul class="smileys"> 
          </ul>
       </div>
   </span>
   <button class=" btn waves-effect theme-color col s3 m2 offset-m1 btn-send">Send </button>
    
    </div>
</div>
</div></li>
' >
    
    
    
    
</div>


	
	
		
		
		
	
	
	    
	
