<li class="z-depth-1 portlet  white theme-color-text" id="portlet-my-request-friend">
	<div class="portlet-header white ">
	<span class="portlet-left">	<span class="fa fa-bar-chart" aria-hidden="true"></span> My spool Contact request <span class="portlet-notification invisible badge-content theme-color">0</span> </span>
		<i class="fa fa-times close-widget   theme-color-text-2" aria-hidden="true"></i>
		<i class="fa fa-minus theme-color-text-2 btn-mini-portlet" aria-hidden="true"></i>
		{#<i class="fa fa-refresh theme-color-text-2 refresh-my-spool" aria-hidden="true"></i>#}
		<span class="portlet-middle-title" > &nbsp; </span>
	</div>
	<div class="portlet-content">
		<ul class="collection" data-prototype='<li class="collection-item avatar opacity-1-important li-myrequest" data-id="__id__"><img src="__img__" alt="__alt__" class="circle"> <span class="title">__title__</span><i class="fa fa-times theme-color-text modal-trigger btn-remove-my-request-contact" aria-hidden="true" title="cancel this request" ></i>' >

		</ul>
	</div>
</li>