{# <li class="dashboard-card" id="myaccount" >

	<div class="dashboard-header">
		<h3> Mon compte </h3>
	</div>

	<div class="dashboard-content">

		<img src="/images/yuna.jpg" alt="" class="circle">

	</div>
</li> #}

<div class="col column s12 m4 ">
  &nbsp;
  {% include "dashboard/widgets/_widget_myaccount.twig" %}
</div>
 
<div class="col column s12 m4">
 &nbsp;
  <div class="z-depth-1 portlet">
    <div class="portlet-header">Shopping</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
 
</div>
 
<div class="col column s12 m4">
 &nbsp;
  <div class="z-depth-1 portlet">
    <div class="portlet-header">Links</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
 
  <div class="z-depth-1 portlet">
    <div class="portlet-header">Images</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
 
</div>