<ul class="col column s12 m4 dashbord_col_widget" id="widgets_list">
  &nbsp;
  {% include "dashboard/widgets/_widget_myaccount.twig" %}
</ul>
 
<ul class="col column s12 m4 dashbord_col_widget">
 &nbsp;
  {% include "dashboard/widgets/_widget_contact.twig" %}
</ul>
 
<ul class="col column s12 m4 dashbord_col_widget">
 &nbsp;

</li>
