<ul class="col column s12 m4 " id="widgets_list">
  &nbsp;
  {% include "dashboard/widgets/_widget_myaccount.twig" %}
</ul>
 
<ul class="col column s12 m4">
 &nbsp;
  <li class="z-depth-1 portlet">
    <div class="portlet-header">Shopping</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </li>
 
</ul>
 
<ul class="col column s12 m4">
 &nbsp;
  <li class="z-depth-1 portlet">
    <div class="portlet-header">Links</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </li>
 
  <li class="z-depth-1 portlet">
    <div class="portlet-header">Images</div>
    <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
  </div>
 
</li>