{% extends "base/base.twig" %}

{% block stylesheets %}
{%  endblock stylesheets %}

{% block header %}
{% include "dashboard/_dashboard_header.twig" %}
{%  endblock header %}

{% block body %}

    <div class="row " id="dashboard" >

    {% include "dashboard/_dashboard_btn.twig" %}

      <div class="col s12   white dash-col"> 
			{% include "dashboard/_dashboard_widget_myaccount.twig" %}
      </div>

    </div>


{% endblock body %}

{% block javascript %}
	    <script type="text/javascript" src="/js/jquery-ui.js"></script>
	    <script type="text/javascript" src="/js/dashboard.js"></script>
{% endblock %}