{% extends "base/base.twig" %}
{% block body %}
    <!-- Page Layout here -->
    <div class="row" id="dashboard" >

      <div class="col s12 m4 l3 grey lighten-3 dash-col">
      	{% include "_dashboard_user.twig" %}

      </div>

      <div class="col s12 m8 l9  white dash-col"> 

      </div>

    </div>
{% endblock body %}
