{% extends "base/base.twig" %}
{% block title %}
 	Dashboard - Chat_express
{% endblock title %}
{% block stylesheets %}
{%  endblock stylesheets %}

{% block header %}
{% include "dashboard/_dashboard_header.twig" %}
{%  endblock header %}

{% block body %}
    <div class="row " id="dashboard" >

    {% include "dashboard/_dashboard_btn.twig" %}

      <div class="col s12 dash-col"> 
			{% include "dashboard/_dashboard_widgets.twig" %}
      </div>

    </div>
    {{twig_spool}}
{% endblock body %}

{% block footer %}
	{% include "dashboard/_dashboard_footer.twig" %}

{% endblock footer %}

{% block javascript %}
	    <script type="text/javascript" src="/js/jquery-ui.js"></script>
	    <script src="/socket.io/socket.io.js"></script>
	    <script type="text/javascript" src="/common_modules/smiley.module.js"></script>
	    <script type="text/javascript" src="/js/dashboard.js"></script>
	    <script type="text/javascript" src="/js/contact.module.js"></script>
	    <script type="text/javascript" src="/js/chat.module.js"></script>
	    <script type="text/javascript" src="/js/room.module.js"></script>
{% endblock %}