{% extends "base/base.twig" %}

{% block body %}
<div class="row">&nbsp;</div>
      <div class="row">

        <div class="col s12 m6 offset-m3">
          <div class="card  white">
            <div class="card-content  black-text">
              <span class="card-title"><h5>{{"Login"|upper}}</h5></span>

            </div>
            <div class="card-action ">
            	{% include "forms/login.twig" %}
            </div>
          </div>
        </div>
      </div>


{% endblock body %}