{% extends "base/base.twig" %}
{% block title %}
 	My account - Chat_express
{% endblock title %}
{% block header %}
{% include "dashboard/_dashboard_header.twig" %}
{%  endblock header %}


{% block body %}
<div id="my-account">
    
    {% include "dashboard/_dashboard_btn.twig" %}

</div>

{% endblock body %}
