<!DOCTYPE html>
<html>
  <head>
    <title>Chat expressjs</title>
    {% block stylesheets %}
     <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
     <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock stylesheets %}
  </head>
  <body>
    <header>
   {# {% include "base/header.twig" %} #}
    </header>

    <section >
        {% block body %}
        {% endblock body %}
   </section>


    {% include "base/footer.twig" %}

    {%  block javascript %}
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
    <script type="text/javascript" src="/js/validate.module.js"></script>
    <script type="text/javascript" src="/js/validForm.module.js"></script>

    <script type="text/javascript">
       $(function(){  
           validForm.init();
       })
    </script>
    {% endblock javascript %}
  </body>
</html>