<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Chat_express{% endblock title %}</title>
    
     <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import Font-Awesom Icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
     <!--Import materialize.css-->
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!--<link rel="stylesheet" href="/css/jquery-ui.min.css">-->
    <link href="/css/style.css" type="text/css" rel="stylesheet" >
    {% block stylesheets %}
    {% endblock stylesheets %}
     <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    
  </head>
  <body>

    {% block header %}
    {% endblock %}


    <main >
        {% block body %}
        {% endblock body %}
   </main>


    {% include "base/footer.twig" %}

    
    <script type="text/javascript" src="/js/materialize.js"></script>
    <script type="text/javascript" src="/common_modules/validate.module.js"></script>
    <script type="text/javascript" src="/js/validForm.module.js"></script>
    

    <script type="text/javascript">
    /*** Init flash message **************/
       var flashMessage = new Array();
       {% for message in flashMessage %}
          flashMessage.push("{{message}}");
       {% endfor %}
    /***************************************/

       $(function(){

          // init validation of all forms  
           validForm.init();

           /*********** Get flashMessage() *******************/
           for(var i = 0 ; i < flashMessage.length ; i++)
           {
                Materialize.toast(flashMessage[i], 5000);
           }
           /***************************************************/
       });
    </script>
    
    {%  block javascript %}
    {% endblock javascript %}
  </body>
</html>