body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

header {
  margin-bottom: 3%; }

footer {
  margin-top: 0px !important; }

main {
  flex: 1 0 auto; }

#dashboard {
  margin-bottom: 0px; }
  #dashboard .dash-col {
    min-height: 550px; }

#portlet-myaccount img {
  width: 25%; }

#portlet-myaccount ul li {
  margin-bottom: 2px; }
  #portlet-myaccount ul li span {
    font-weight: bold; }
  #portlet-myaccount ul li img {
    width: 25%; }

.column {
  float: left;
  padding-bottom: 100px; }

.portlet {
  margin: 0 1em 1em 0;
  padding: 0.3em; }

.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative; }

.portlet-header:hover {
  cursor: move; }

.portlet-header > i, .portlet-header > a {
  float: right;
  margin-right: 6px; }

.portlet-header > i:hover {
  cursor: pointer; }

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px; }

.portlet-content {
  padding: 0.4em; }

.portlet-placeholder {
  border: 3px dashed #ddd;
  margin: 0 1em 1em 0;
  height: 50px; }

.ui-widget-header {
  background-color: white;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd; }

.ui-widget-header .ui-icon {
  display: none; }

.text-center {
  text-align: center; }

#dashboard {
  position: relative; }
  #dashboard .row-btn-signup {
    position: absolute;
    bottom: 0;
    width: 100%; }
  #dashboard button.signin-btn-header {
    margin-top: -6px;
    border-radius: 40px; }
  #dashboard div.signin-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 100; }
  #dashboard ul {
    list-style-type: none; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }
