<form  id="form_login" action="{{ url('login') }}" method="post">
<div class="row">
<div class="input-field " >
<i class="material-icons prefix ">account_box</i>
<input type="email" name="email" id="email" placeholder=""  class="validate" required/>
<label for="email"> Email </label>
</div>
</div>
<div class="row">
<div class="input-field" >
<i class="material-icons prefix">announcement</i>
<input type="password" name="password" id="password" placeholder="" class="validate" required />
<label for="password" > Password </label>
</div>
</div>
<input type="hidden" name="token" id="token" />
<div class="row ">
<div class="col s12 offset-s8">
<button type="submit" class="waves-effect red lighten-3 btn">Submit</button>
</div>
</div>
</form>