<form id="form_logout"  action="{{ url('logout') }}" method="post">
	<a href="#" id="submit_logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out </a>
	<input type="hidden" name="token" id="token" />
</form>