  
    <form class="col s12" action="javascript:void(0);">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Search" id="search_contact_value" type="text" class="validate" autocomplete="off">
        </div>
        <div class="input-field col s2">
          <a class="waves-effect waves-light btn theme-color theme-color-2-text" id="btn_search" href="#" ><i class="fa fa-search" aria-hidden="true"></i></a>       
           </div>
      </div>
    </form>
